@using MVCWebApi.Models.DataBase;
@{
    ViewBag.Title = "GetProducts";
}

<h2>Lista de Productos</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>
    @foreach(Product item in ViewBag.Products)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Qty</td>
        </tr>
    }
</table>

